body{
  text-align: center;
}

.input{
background-color: grey;
position:relative;
margin-top: 6px;
margin-left: 300px;
margin-right: 300px;
border-style: solid;
padding-top: 25px;
padding-bottom: 15px;
}
